In [14]:
import plotly.plotly as py
import cufflinks as cf
import pandas as pd
import numpy as np
import plotly.graph_objs as go

In [2]:
raw_df = pd.read_csv('bevgeburtenjahrgeschlquartstz.csv')
raw_df[:3]

,"﻿""StichtagDatJahr""",SexCd,SexKurz,StatZoneSort,StatZoneLang,QuarSort,QuarLang,AnzGebuWir
0,2015,2,W,1101,Zähringerstrasse,11,Rathaus,2
1,2015,1,M,1101,Zähringerstrasse,11,Rathaus,2
2,2015,2,W,1102,Zentralbibliothek,11,Rathaus,1

In [9]:
result = raw_df.groupby('SexKurz').apply(lambda x: x.AnzGebuWir.sum()).reset_index()
result

  SexKurz      0
0       M  47634
1       W  44836

In [18]:
layout = go.Layout(
    title='Plot Title',
    )
title = 'Number of Births in ZH (2015)'
result.iplot(kind='pie',labels='SexKurz',values=0, textinfo='values+percent', title=title)